<div class="container">
  <div class="row">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="col-md-4 col-sm-6">
       
      
      </div>

      <div class="col-md-4 col-sm-6 site_name text-center">
        <a class="navbar-brand " href="#">Ultron</a>
      </div>

      <div class="col-md-4 text-right text-white">
        Alfredão Godoy
    </div>
   </nav>
  </div>
  
</div>


<!-- <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark header_bar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
</div> -->