<div class="container">
  <div class="row">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="col-md-4 col-sm-4 col-4 text-white ">
        <p-sidebar [(visible)]="display">
          <div>

          </div>
        </p-sidebar>
        <i class="pi pi-bars menu_icon" (click)="display = true" style="font-size:2em;cursor:pointer"></i>
      </div>


      <div class="col-md-4 col-sm-4 col-4 site_name text-center">
        <a class="navbar-brand" href="#">Ultron </a>
      </div>

      <div class="col-md-3 col-sm-2 col-sm-offset-2 text-right text-white d-sm-none d-none d-lg-block">

        <div class="nome_usuario text-right">
          <p *ngIf="nome">{{nome}}<i class="pi pi-user" style="font-size:1.2em;"></i></p>
        </div>
      </div>

      <div class="col-4 col-md-1 col-sm-2 text-right text-white ">
        <div class="em_linha">
          <div>
            <button (click)="logout()" class="btn btn-md btn-secondary" >logout</button>
          </div>
        </div>
      </div>


    </nav>
  </div>

</div>


<!-- <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark header_bar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
</div> -->