.page-footer{
    background-color: rgb(41, 41, 41);
    margin-top: 50px;
    color: white;
}

.footer-copyright{
    color: white;
    background-color: black;
}

.footer_texto{
    background-color: darkgrey;
}