
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Oque é o Ultron ?</h6>
          <p>Trata-se de um sistema para gestão de ações (compras e vendas) com base nas informações obtidas diretamete da bolsa de valores.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Como participar deste sistema ?</h6>
          <p>Para obter acesso ao Ultron é necessário, que algum dos administradores aceite sua solicitação e forneça seus dados para login no sistema.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> UltroFundos.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->