
<div class="container-fluid invest_container">
  <div class="space row"></div>
  <div class="row dados_container">

    <div class="investir_content col-md-8">
      
      <!-- <input [(ngModel)]="transacaoDeposito.valor" name="valor" type="number" id="inputValor" class="form-control"
        placeholder="Investir" required autofocus>
      <p-calendar [(ngModel)]="transacaoDeposito.datasaque" [minDate]="minDate" [readonlyInput]="true" showButtonBar="true"
        dateFormat="yy-mm-dd" name="datasaque" id="inputData"></p-calendar>
      <button (click)="investir()" type="submit" class="btn btn-lg btn-success btn-block">Investir</button> -->
      <!-- <app-tabela-investimentos></app-tabela-investimentos> -->

      <div class="table_container inv_card">
        <div class="card_name">
          <h4>Ações ativas</h4>
        </div>
        
        <app-tabela-investimentos></app-tabela-investimentos>
      </div>
 
    </div>

    <div class="col-md-4">


        <div class="ui-g-12 ui-md-12 allign-right investimento_content inv_card">
          <p-card>
            <p-header class="card_header">
              Saldo ativo
            </p-header>
            <h3 class="first">R$ {{(saldoAtivo).toFixed(2).toLocaleString('pt-BR')}} </h3>
          </p-card>
        </div>


        <div class="ui-g-12 ui-md-12 allign-right investimento_content inv_card">
          <p-card>
            <p-header class="card_header">
              Lucro esperado
            </p-header>
            <h3 class="first"> R$ {{(saldoAtivo*0.02).toFixed(2).toLocaleString('pt-BR')}} </h3>
          </p-card>
        </div>

        <div class="ui-g-12 ui-md-12 allign-right investimento_content inv_card">
          <p-card>
            <p-header class="card_header">
              Lucro Diário
            </p-header>
            <h3 class="first"> R$ {{((saldoAtivo*0.02)/60).toFixed(2).toLocaleString('pt-BR')}} </h3>
          </p-card>
        </div>

        <div class="ui-g-12 ui-md-12 allign-right investimento_content inv_card">
          <p-card>
            <p-header class="card_header">
              Próximo saque
            </p-header>
            <h3 class="first"> R$ 7.000,00 </h3>
          </p-card>
        </div>


    </div>

  </div>
  <div class="divisor">
    <hr>
    
  </div>
  <div class="row relatorio_content">

    <div class="investir_content col-md-8">
        <div class="table_container inv_card">
          <div class="card_name">
             <h4>Ações ativas</h4>
          </div>
          <app-tabela-sacados></app-tabela-sacados>
        </div>
    </div>

    <div class="col-md-4">

      <div class="deposito_content inv_card">
        <div class="card_name">
          <h4>Faça um deposito</h4>
        </div>
        
          <span class="ui-float-label">
            <input [(ngModel)]="transacaoDeposito.valor" name="valor" type="number" id="inputValor" class="input_data"
             pKeyFilter="pnum" pInputText required autofocus>
            <label for="float-input">Valor</label>
          </span>
        
            <p-calendar [(ngModel)]="transacaoDeposito.datasaque" [minDate]="minDate" [readonlyInput]="true" [showIcon]="true" showButtonBar="true"
            dateFormat="yy-mm-dd" placeholder="Data para saque" name="datasaque" id="inputData" class="input_data" ></p-calendar>
        
         
        
         <button (click)="investir()" type="submit" class="btn btn-md btn-success btn-block button_investir">Investir</button>
      </div>

    </div>
  </div>
  <div class="space row"></div>
</div>




















<!-- <div class="container container_login ">
    <div class="row justify-content-center align-items-center row_login align-middle">
        <div class="shadow-lg p-3 mb-5 bg-white rounded container_login2 col-md-12 col-sm-6">
            <form  action="" method="" accept-charset="utf-8" class="form-login">
                <h3 class="form-login-heading">Area restrita!</h3>
                <label for="inputEmail" class="sr-only">E-mail</label>
                <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
                <label for="inputSenha" class="sr-only">Senha</label>
                <input  name ="password" [(ngModel)]="login.password" type="password" id="inputSenha" class="form-control" placeholder="Senha" required autofocus>
                <button (click)="logar()" type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
            </form>
        </div> 
    </div>
</div> -->

<!-- <div class="container">

  <label for="inputEmail" class="sr-only">E-mail</label>
  <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
-->






  <!-- <div class="ui-g ui-fluid pessoaForm">
              
      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputNome" class="sr-only">Nome</label>
              <input name="nome" [(ngModel)]="pessoa.nome" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Nome" required autofocus>     
          </div>
      </div>

      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputCPF" class="sr-only">CPF</label>
              <input name="cpf" [(ngModel)]="pessoa.cpf" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="CPF" required autofocus>     
          </div>
      </div>

    

      


  </div> -->