.card_header{
    margin-left: 25px;
}





/* .div_gerencia{
    width: 100vw;
} */


.investimento_content{
    width: 100%;
}

.container_transacao{
    
}

.form_ativos{
}

.form-control{
    margin-top: 10px;
    margin-bottom: 40px;
}



/* Estilos de formulários */

.form_vendas{
    max-width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div_investimento{
    margin-top: 60px;
    width: 100%;
}