<div class="div_investimento">
  <div class="ui-g-12 ui-md-12 allign-right investimento_content">
    <p-card>
      <p-header class="card_header">
        Saldo ativo
      </p-header>
      <h3 class="first"> R$ 5.000,00 </h3>

      <p-footer>
          <!-- Footer content here -->
      </p-footer>
    </p-card>
  </div>

  <div class="ui-g-12 ui-md-12 allign-right investimento_content">
    <p-card>
      <p-header class="card_header">
        Lucro diário
      </p-header>
      <h3 class="first"> R$ 5.000,00 </h3>

      <p-footer>
          <!-- Footer content here -->
      </p-footer>
    </p-card>
  </div>

  <div class="ui-g-12 ui-md-12 allign-right investimento_content">
    <p-card>
      <p-header class="card_header">
        Lucro esperado
      </p-header>
      <h3 class="first"> R$ 5.000,00 </h3>

      <p-footer>
          <!-- Footer content here -->
      </p-footer>
    </p-card>
  </div>

  <div class="ui-g-12 ui-md-12 allign-right investimento_content">
    <p-card>
      <p-header class="card_header">
        Próximo saque
      </p-header>
      <h3 class="first"> R$ 7.000,00 </h3>

      <p-footer>
          <!-- Footer content here -->
      </p-footer>
    </p-card>
  </div>
</div>



  <!-- <div class="ui-g ui-fluid pessoaForm">
              
      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputNome" class="sr-only">Nome</label>
              <input name="nome" [(ngModel)]="pessoa.nome" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Nome" required autofocus>     
          </div>
      </div>

      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputCPF" class="sr-only">CPF</label>
              <input name="cpf" [(ngModel)]="pessoa.cpf" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="CPF" required autofocus>     
          </div>
      </div>

    

      


  </div> -->