
<div class="div_investimento row">
  
  <div class="ui-md-offset-2 ui-md-4 form_ativos">
        <label for="inputSenha" class="sr-only"></label>
        <input  [(ngModel)]="transacaoDeposito.valor" name ="valor" type="number" id="inputValor" class="form-control" placeholder="Investir" required autofocus>
        <input  [(ngModel)]="transacaoDeposito.datasaque" name ="datasaque" type="text" id="inputData" class="form-control" placeholder="Data saque" required autofocus>
        <button  (click)="salvar()" type="submit" class="btn btn-lg btn-success btn-block">Investir</button>
  </div>

  <div class = "ui-md-offset-2 ui-g-4 ui-md-4">
    <div class="div_investimento">

      <div class="ui-g-12 ui-md-12 allign-right investimento_content">
        <p-card>
          <p-header class="card_header">
            Saldo ativo
          </p-header>
          <h3 class="first"> R$ 5.000,00 </h3>
    
          <p-footer>
              <!-- Footer content here -->
          </p-footer>
        </p-card>
      </div>
    
    
      <div class="ui-g-12 ui-md-12 allign-right investimento_content">
        <p-card>
          <p-header class="card_header">
            Lucro esperado
          </p-header>
          <h3 class="first"> R$ 5.000,00 </h3>
    
          <p-footer>
              <!-- Footer content here -->
          </p-footer>
        </p-card>
      </div>
    
      <div class="ui-g-12 ui-md-12 allign-right investimento_content">
        <p-card>
          <p-header class="card_header">
            Próximo saque
          </p-header>
          <h3 class="first"> R$ 7.000,00 </h3>
    
          <p-footer>
              <!-- Footer content here -->
          </p-footer>
        </p-card>
      </div>
    
      <div class="ui-g-12 ui-md-12 allign-right investimento_content">
        <p-card>
          <p-header class="card_header">
            Próximo saque
          </p-header>
          <h3 class="first"> R$ 7.000,00 </h3>
    
          <p-footer>
              <!-- Footer content here -->
          </p-footer>
        </p-card>
      </div>

    </div>
  </div>
  


  
</div>


<div class="row div_investimento">
  <div class="ui-md-4" >
      <div class="form_vendas">
          <form action="/servidor/salvar" method="post" disabled="" class="ls-form-text">
            <input type="hidden" name="token" value="ehOCabraMesmo">
            <table class="table ls-table table-striped">
              <thead>
                <tr>
                  <th class="hidden-xs">Valor investido</th>
                  <th>Data depósito</th>
                  <th class="hidden-xs">data saque</th>
                  <th class="ls-table-actions"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let deposito of depositos">
        
        
                  <td>{{deposito.valorinvestido}}</td>
                  <td>{{deposito.data}}</td>
                  <td>{{deposito.data}}</td>
                  <td>
                    <!-- <a  (click)="teste(deposito)" data-confirm-text="Confirma exclusão do item?" class="text-danger">
                      Excluir
                    </a> -->
                    <button (click)="teste(deposito)" class="bbtn btn-success">sacar</button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </form>
        </div>
        
  </div>

</div>
























<!-- <div class="container container_login ">
    <div class="row justify-content-center align-items-center row_login align-middle">
        <div class="shadow-lg p-3 mb-5 bg-white rounded container_login2 col-md-12 col-sm-6">
            <form  action="" method="" accept-charset="utf-8" class="form-login">
                <h3 class="form-login-heading">Area restrita!</h3>
                <label for="inputEmail" class="sr-only">E-mail</label>
                <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
                <label for="inputSenha" class="sr-only">Senha</label>
                <input  name ="password" [(ngModel)]="login.password" type="password" id="inputSenha" class="form-control" placeholder="Senha" required autofocus>
                <button (click)="logar()" type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
            </form>
        </div> 
    </div>
</div> -->

<!-- <div class="container">

  <label for="inputEmail" class="sr-only">E-mail</label>
  <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
-->






  <!-- <div class="ui-g ui-fluid pessoaForm">
              
      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputNome" class="sr-only">Nome</label>
              <input name="nome" [(ngModel)]="pessoa.nome" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Nome" required autofocus>     
          </div>
      </div>

      <div class="ui-g-12 ui-md-6">
          <div class="ui-inputgroup">
              <label for="inputCPF" class="sr-only">CPF</label>
              <input name="cpf" [(ngModel)]="pessoa.cpf" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="CPF" required autofocus>     
          </div>
      </div>

    

      


  </div> -->