<!-- <div class="container-fluid adm_content">
    <div class="row dashboard">
        <div class="col-md-8 grafico_rendimento text-center">
          Teste
        </div>

        <div class="col-md-4 grafico_rendimento text-center">
            <div class="">
              <a href="http://localhost:4200/administracao" class="botaoCriar" (click)="createUser()">
              <p-card class="card">
                  <p-header class="card_header text-center">
                    
                  </p-header>
                  <i class  ="pi pi-user-plus" style="font-size:4em"></i>
                  <h3 class="first">Criar usuário</h3>
            
                  <p-footer>
                       Footer content here 
                  </p-footer>
                </p-card>
              </a>  
              <p-card class="cardSaldo">
                <p-header class="card_header text-center">
                    Fundo total
                </p-header>
                  R$ 53.500,00
                <p-footer>
                     Footer content here 
                </p-footer>
              </p-card>
              </div>
        </div>
    </div>

    <div class="row adm_content">
      <div class="cardSaldo md-col-6 text white">
          <p-card class="card">
              <p-header class="card_header text-center">
                
            </p-header>
            aim
            <p-footer>
                Footer content here 
            </p-footer>
          </p-card>
      </div>
    </div>

</div> -->
<div class="container-fluid">
  <div class="row header_space"></div>
  <div class="row grafico_content align-items-center">
    <div class="col-md-5 col-sm-12">
      <div class="chart-container grafico_adm" style="position: relative;">
        <canvas responsive="true" id='grafico_adm'></canvas>
      </div>
    </div>

    <div class="col-md-3">
      <div class="investimento_content3 adm_card">
        <div class="header_fundo">
          <h6>Quantidade de Investores</h6>
        </div>
        <div class="text-center">
          <h3>{{numInvestidor}}</h3>
        </div>

        <div class="header_fundo">
          <h6>Quantidade de Gestores</h6>
        </div>
        <div class="text-center">
          <h3>{{numGestor}}</h3>
        </div>

        <div class="header_fundo">
          <h6>Quantidade de Administradores</h6>
        </div>
        <div class="text-center">
          <h3>{{numAdministrador}}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <a (click)="createUser()">
        <div class="ui-g-12 ui-md-12 allign-right investimento_content adm_card" style="cursor: pointer;">
          <div class="text-center botao_criar">
            <i class="pi pi-user-plus" style="font-size:4em"></i>
            <h3 class="first">Criar usuário</h3>
          </div>
        </div>
      </a>
      <div class="ui-g-12 ui-md-12 allign-right investimento_content2 adm_card">
        <div class="header_fundo">
          <h6>Fundo total</h6>
        </div>
        <div class="text-center">
          <h3>R$ {{fundo.toLocaleString('pt-BR')}} </h3>
        </div>
      </div>

    </div>
  </div>
  <div class="row align-items-center linha_tabelas justify-content-around">

    <div class="col-md-6">
      <div class="tabela_adm adm_card">
        <div class="titulo_tabela">
          <h5>Selecione um investidor</h5>
          <div class="row justify-content-around container_busca">
            <div class="col-md-6 col-5">
              <p-dropdown [options]="listaInvestidores" [(ngModel)]="invSelecionado"></p-dropdown>
            </div>

            <div class="col-md-6 col-5">
              <button (click)="buscarInvestidor()" type="submit" class="btn btn-md btn-primary btn-block botao_busca">buscar</button>
            </div>
          </div>
          <div class="dados_content">
              <div class="row justify-content-around container_busca">
                
                <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Nome:</i>  {{nomeI}} </div>
                <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Email:</i> {{emailI}}</div>
                <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">CPF:</i>   {{cpfI}}</div>
                <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Saldo:</i> {{saldoI}}</div>
                
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="tabela_adm adm_card">
        <div class="titulo_tabela">
          <h5>Selecione um Gestor</h5>
          <div class="row justify-content-around">
            <div class="col-md-6 col-5 allign-right">
              <p-dropdown [options]="listaGestores" [(ngModel)]="gesSelecionado"></p-dropdown>
            </div>

            <div class="col-md-6 col-5">
              <button (click)="buscarGestor()" type="submit" class="btn btn-md btn-primary btn-block botao_busca">buscar</button>
            </div>
          </div>
          <div class="dados_content">
            <div class="row justify-content-around">
              
              <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Nome:</i>   {{nomeG}} </div>
              <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Email:</i>  {{emailG}}</div>
              <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Meta:</i>   {{metaG}} </div>
              <div class="col-12 col-md-5 dados_pesquisa"><i class="estilo_texto">Capital:</i>{{capitalG}}</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>













<!-- 
<div class="card2">
  <p-card  class="simple_card" header="Simple Card" [style]="{width: '100%;'}">
      <div class="card_content">
        <div class="text-center">
          <i class  ="pi pi-user-plus" style="font-size:4em"></i>
          <h3 class="first">Criar usuário</h3>
        </div>    
      </div>
  </p-card>
</div>
<div class="card2 ">
  <p-card  class="simple_card" header="Simple Card" [style]="{width: '100%;'}">
      <div class="card_content">
          <div>Fundo Total</div>
          <div class="text-center valor_total">R$ 53.590,00</div>
      </div>
  </p-card>
</div> -->



















<!-- 
<div class="espaco">

</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm">
            Uma de três colunas
        </div>
        <div class="col-sm">
            Uma de três colunas
        </div>
        <div class="col-sm">
            Uma de três colunas
        </div>
    </div>


    <div class="row">
            <div class="col">
              1 de 2
            </div>
            <div class="col">
              2 de 2
            </div>
          </div>
          <div class="row">
            <div class="col">
              1 de 3
            </div>
            <div class="col">
              2 de 3
            </div>
            <div class="col">
              3 de 3
            </div>
          </div>



          <div class="row">
                <div class="col">Coluna</div>
                <div class="col">Coluna</div>
                <div class="w-100"></div>
                <div class="col">Coluna</div>
                <div class="col">Coluna</div>
              </div>

              <div class="row mx-lg-n5">
                    <div class="col py-3 px-lg-5 border bg-light">
                      1 de 3
                    </div>
                    <div class="col-6 py-3 px-lg-5 border bg-light">
                      2 de 3 (maior)
                    </div>
                    <div class="col py-3 px-lg-5 border bg-light">
                      3 de 3
                    </div>
                  </div>



                  <div class="row align-items-start linha_teste">
                        <div class="col coluna_teste">
                          Uma de três colunas
                        </div>
                        <div class="col coluna_teste">
                          Uma de três colunas
                        </div>
                        <div class="col coluna_teste">
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 1</div>
                          </div>
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 2</div>
                          </div>
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 3</div>
                          </div>
                        </div>
                      </div>
              
</div> 

 -->