.dashboard{
    margin-top: 80px;
    /* width: 100%; */
}
.grafico_rendimento{
    height: 30%;
    padding: 5px;
}

.adm_content{
    width: 100%;
    height: 80vh;;
}
.card_header{
    margin-left: 10px;
}

.botaoCriar{
    text-decoration: none;
}

.cardSaldo{
    height: 200px;
    width: 300px;
    border-top: 10px;
}


























.espaco{
    margin-top: 80px;
}

.linha_teste{
    min-height: 10rem;
}

.coluna_teste{
    padding-top: .75rem;
    padding-bottom: .75rem; 
    background-color: aquamarine;
    border-color: black;
    border: 1px solid;
}

.card_teste{
    margin-top: 5px;
}




























.header_space{
    min-height: 70px;
    width: 100%;
}
.grafico_content{
    min-height: 300px;
    /* background-color: aquamarine; */
    
}

.card2{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 150px;
}

.card_content{
    

}

.simple_card{
    background-color: blueviolet;
    height: 300px;
}

.ui-card-body{
    height: 140px;
}

.valor_total{
    font-size: 2em;
}














.investimento_content{
    
    width: 100%;
    height: 120px;
    /* background-color: bisque; */
    box-shadow: 0px 0px 5px slategray;
    border-radius:4px
}

.investimento_content2{
    margin-top: 15px;
    
    width: 100%;
    height: 120px;
    /* background-color: bisque; */
    box-shadow: 0px 0px 5px slategray;
    border-radius:4px
}

.investimento_content3{
    padding-top: 30px;
    width: 100%;
    height: 255px;
    /* background-color: bisque; */
    box-shadow: 0px 0px 5px slategray;
    border-radius:4px
}


.header_fundo{
    margin-left: 25px;
}
.botao_criar{
    color: black;
}

.botao_criar:hover{
    color: green;
    transition-duration: 0.2s;
}

.adm_card:hover{
    transform: scale(1.02);
    transition-duration: 0.2s;
}

.grafico_adm{
    
    margin-top: 10px; 
    padding: 10px;
    max-width: 100%;
    width: 100%;
    /* height: 350px;; */
    box-shadow: 0px 0px 5px slategray;
    border-radius:4px
}

.linha_tabelas{
    margin-top: 30px;
    /* background-color:  whitesmoke; */
    margin-bottom: 60px;
}

.tabela_adm{
    padding-top: 20px;
    width: 100%;
    height: 255px;
    /* background-color: bisque; */
    box-shadow: 0px 0px 5px slategray;
    border-radius:4px
}

.titulo_tabela{
    margin-left: 20px;
}

.botao_busca{
    max-width: 70%;;
}