<!-- <div class="container-fluid adm_content">
    <div class="row dashboard">
        <div class="col-md-8 grafico_rendimento text-center">
          Teste
        </div>

        <div class="col-md-4 grafico_rendimento text-center">
            <div class="">
              <a href="http://localhost:4200/administracao" class="botaoCriar" (click)="createUser()">
              <p-card class="card">
                  <p-header class="card_header text-center">
                    
                  </p-header>
                  <i class  ="pi pi-user-plus" style="font-size:4em"></i>
                  <h3 class="first">Criar usuário</h3>
            
                  <p-footer>
                       Footer content here 
                  </p-footer>
                </p-card>
              </a>  
              <p-card class="cardSaldo">
                <p-header class="card_header text-center">
                    Fundo total
                </p-header>
                  R$ 53.500,00
                <p-footer>
                     Footer content here 
                </p-footer>
              </p-card>
              </div>
        </div>
    </div>

    <div class="row adm_content">
      <div class="cardSaldo md-col-6 text white">
          <p-card class="card">
              <p-header class="card_header text-center">
                
            </p-header>
            aim
            <p-footer>
                Footer content here 
            </p-footer>
          </p-card>
      </div>
    </div>

</div> -->

<div class="container-fluid">
  <div class="row header_space"></div>
  <div class="row grafico_content align-items-center">
    <div class="col-md-8 col-sm-12">
      
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card2">
          <p-card  header="Simple Card" [style]="{width: '100%;'}">
              <div class="card_content">
                <div>
                  <i class  ="pi pi-user-plus" style="font-size:4em"></i>
                  <h3 class="first">Criar usuário</h3>
                </div>  
                
              </div>
          </p-card>
      </div>
      <div class="card2">
          <p-card   header="Simple Card" [style]="{width: '100%;'}">
              <div class="card_content"></div>
          </p-card>
      </div>
      
    </div>
  </div>
</div>








































<!-- 
<div class="espaco">

</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm">
            Uma de três colunas
        </div>
        <div class="col-sm">
            Uma de três colunas
        </div>
        <div class="col-sm">
            Uma de três colunas
        </div>
    </div>


    <div class="row">
            <div class="col">
              1 de 2
            </div>
            <div class="col">
              2 de 2
            </div>
          </div>
          <div class="row">
            <div class="col">
              1 de 3
            </div>
            <div class="col">
              2 de 3
            </div>
            <div class="col">
              3 de 3
            </div>
          </div>



          <div class="row">
                <div class="col">Coluna</div>
                <div class="col">Coluna</div>
                <div class="w-100"></div>
                <div class="col">Coluna</div>
                <div class="col">Coluna</div>
              </div>

              <div class="row mx-lg-n5">
                    <div class="col py-3 px-lg-5 border bg-light">
                      1 de 3
                    </div>
                    <div class="col-6 py-3 px-lg-5 border bg-light">
                      2 de 3 (maior)
                    </div>
                    <div class="col py-3 px-lg-5 border bg-light">
                      3 de 3
                    </div>
                  </div>



                  <div class="row align-items-start linha_teste">
                        <div class="col coluna_teste">
                          Uma de três colunas
                        </div>
                        <div class="col coluna_teste">
                          Uma de três colunas
                        </div>
                        <div class="col coluna_teste">
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 1</div>
                          </div>
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 2</div>
                          </div>
                          <div class="row card_teste">
                                <div class="col coluna_teste">aim 3</div>
                          </div>
                        </div>
                      </div>
              
</div> 

 -->

