
<!-- <div class="space_body row">

</div> -->
<div class="header_space"></div>

<div class="div_login container-fluid">
    <div class="row linha_login align-items-center">
        <div class="container container_login">
            <div class="shadow-lg bg-white col-md-12 box_login">
                <form action="" method="" accept-charset="utf-8" class="form-login">

                    <h3 class="form-login-heading">Faça o login</h3>
                    <label for="inputEmail" class="sr-only">E-mail</label>
                    <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control"
                        placeholder="Login" required autofocus>
                    <label for="inputSenha" class="sr-only">Senha</label>
                    <input name="password" [(ngModel)]="login.password" type="password" id="inputSenha" class="form-control"
                        placeholder="Senha" required autofocus>
                    <button (click)="logar()" type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
                    <!-- <router-outlet></router-outlet> -->

                </form>
            </div>
        </div>
    </div>
</div>
