
<!-- <div class="space_body row">

</div> -->
<div class="div_login">
    <div class="container container_login ">
        <div class="row justify-content-center align-items-center row_login align-middle">
            <div class="shadow-lg p-3 mb-5 bg-white rounded container_login2 col-md-12 col-sm-6">
                <form  action="" method="" accept-charset="utf-8" class="form-login">
                    <h3 class="form-login-heading">Area restrita!</h3>
                    <label for="inputEmail" class="sr-only">E-mail</label>
                    <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
                    <label for="inputSenha" class="sr-only">Senha</label>
                    <input  name ="password" [(ngModel)]="login.password" type="password" id="inputSenha" class="form-control" placeholder="Senha" required autofocus>
                    <button (click)="logar()" routerLink="/formulario" type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
                    <router-outlet></router-outlet>
                    
                </form>
            </div> 
        </div>
    </div>
</div>

