
<div class="gestao_content">

  <div class="container-fluid">

    <div class="grafico_acoes">
      <h4>Ações disponiveis</h4>
      <div class="chart-container div_graficoacao">
        <app-grafico class="chart-container grafico_acoes"></app-grafico>
      </div>
    </div>
  </div>

  <div class="container-fluid">
      <div class="grafico_vendas">
          <h4>Suas ações</h4>
          <div class="">
              <app-grafico-minha-acoes></app-grafico-minha-acoes>
          </div>
      </div>
    
  </div>

</div>



