<!-- <div class="gestao_content">

  <div class="container-fluid">

    
  </div>

  <div class="container-fluid">
      <div class="grafico_vendas">
          
      </div>
    
  </div>

</div> -->

<div class="container-fluid">
  <div class="row space"></div>

  <div class="row justify-content-md-center">

    <div class="col-md-12">
      <div class="dashboard_container">
        <h4>Ações disponiveis</h4>
        <div class="row">

          <div class="col-md-8">
            <div class="grafico_ges">
              <canvas id='pie' responsive="true" width="80vw" height="30vh"></canvas>
            </div>
          </div>
          <div class="col-md-4">
            <h6>Selecione uma ação para comprar: </h6>
            <div>
              <p-dropdown (click)="valorAcaoUpdate()" [options]="acoesCompra" [(ngModel)]="acaoSelecionada" class="input_acao"></p-dropdown>
              <div class="ui-spinner spiner_content">
                <h6>Quantidade:</h6>
                <p-spinner [placeholder]="Quantidade" [(ngModel)]="quantidadeAcoes" size="10" [min]="1" [max]="1000000"
                  class="input_acao"></p-spinner>
              </div>
              <p class="input_acao">Valor total: {{(valorAcaoSelecionada *
                quantidadeAcoes).toFixed(2).toLocaleString('pt-BR')}}</p>
            </div>
            <div class=" botao_compra">
              <button (click)="comprarAcao()" type="submit" class="btn btn-lg btn-success btn-block">Comprar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row gestao_content">

    <div class="col-md-8">
      <div class="dashboard_container">
        <h4>Suas ações</h4>

        <div class="row minhasAcoes_container">
          <div class="col-md-8">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="bg-success text-white">
                  <tr>
                    <th scope="col"><i class="pi pi-angle-double-down menu_icon" style="font-size:1em;cursor:pointer"></i></th>
                    <th scope="col">Data compra</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Valor compra</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acao of minhasAcoes">
                    <th scope="row">{{acao.id_acao}}</th>
                    <td>{{acao.datacompra}}</td>
                    <td>{{acao.descricao}}</td>
                    <td>{{acao.valorcompra}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4">
            <h6>Selecione uma ação para vender: </h6>
            <div>
              <p-dropdown (click)="valorAcaoUpdateVenda()" [options]="acoesVenda" [(ngModel)]="acaoSelecionadaVenda"
                class="input_acao"></p-dropdown>
              <div class="ui-spinner spiner_content">
                <h6>Quantidade:</h6>
                <p-spinner [placeholder]="Quantidade" [(ngModel)]="quantidadeAcoesVenda" size="10" [min]="1" [max]="1000000"
                  class="input_acao"></p-spinner>
              </div>
              <p class="input_acao">Valor total: {{(valorAcaoSelecionadaVenda *
                quantidadeAcoesVenda).toFixed(2).toLocaleString('pt-BR')}}</p>
            </div>

            <div class=" botao_compra">
              <button (click)="venderAcao()" type="submit" class="btn btn-lg btn-primary btn-block">Vender</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-container">

        <div class="ges_card">
          <h6>Fundo atual</h6>
          <h5 class="text-center">R$ {{fundoAtual.toLocaleString('pt-BR')}}</h5>
        </div>

        <div class="ges_card">
          <h6>Meta atual</h6>
          <h5 class="text-center">R$ {{meta.toLocaleString('pt-BR')}}</h5>
        </div>

        <div class="ges_card">
          <h6>Lucro atual</h6>
          <h5 class="text-center">R$ {{lucroAtual.toLocaleString('pt-BR')}}</h5>
        </div>

      </div>
    </div>

  </div>


  <div class="row space"></div>
</div>