<header>
    <app-header></app-header>
</header>
<body>
    <!-- <app-login></app-login> -->
    <!-- <router-outlet></router-outlet> -->
    <app-investimento></app-investimento>
</body>
<!-- <footer>
    <app-footer></app-footer>
</footer> -->

<!-- <div class="container-fluid ">
    <div class="header_content">
        <div class="row">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <app-login></app-login>
        <app-pessoaform></app-pessoaform>
        <app-investimento></app-investimento>
    </div>
</div> -->

<!-- <h1>Teste de Rotas</h1>

<nav>
    <a routerLink="/">Index</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/formulario">Formulario</a>
</nav>
<router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->



<!-- <app-grafico></app-grafico> -->
