/* .app{
    width: 100vw;
    height: 100vh;
    position: relative;
} */

/* .header_content{
    height: 55px;
} */



/* .body_all{
    background-image: url(src\assets\backGround_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    width: 110;
    height: 92vh; 
    position: relative
    
} */




