<!--The content below is only a placeholder and can be replaced.-->
<!-- <header>
    <app-header></app-header>
</header>
<body>
    <app-login></app-login>
</body>
<footer>
    <app-footer></app-footer>
</footer> -->
<div class="container-fluid app">
    <header class="row navbar-nav header_all">
        <strong class="navbar-brand"><a class="site_name" href="">Ultron</a></strong>
    </header>

    <div class="row body_all">
            <div class="">
                <div class="col-md-4">
                    <h1>TESTE DIV</h1>
                </div>        
            </div>
    </div>

    <footer class="row page-footer font-small blue footer_all">
        <div class="container-fluid text-center">
                <p class="h6">Todos os direitos reservados Ultron.</p>
        </div>
        
    </footer>

</div>

