<p-card>

  <h3 class="first">Cadastro</h3>
<div class="ui-g ui-fluid pessoaForm">
            
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Nome</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Nome" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">CPF</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="CPF" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">RG</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="RG" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Tipo</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Tipo" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Meta</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Meta" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Limite de giro</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Limite de giro" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Usuario</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Usuario" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Email</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Email" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Senha</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Senha" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Confirmar senha</label>
            <input name="login" [(ngModel)]="login.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Confirmar senha" required autofocus>     
        </div>
    </div>


    <div class="ui-g-12 ui-md-offset-4 ui-md-4 ui-md-offset-4 botaoCadastrar">
        <div class="ui-inputgroup">
            <button (click)="logar()" type="submit" class="btn btn-lg btn-success btn-block btCadastrar">Cadastrar</button>
        </div>
    </div>
    


</div>
  <p-footer>
      Footer content here
  </p-footer>
</p-card>