<p-card>

  <h3 class="first">Cadastro</h3>
<div class="ui-g ui-fluid pessoaForm">
            
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputNome" class="sr-only">Nome</label>
            <input name="nome" [(ngModel)]="pessoa.nome" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Nome" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputCPF" class="sr-only">CPF</label>
            <input name="cpf" [(ngModel)]="pessoa.cpf" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="CPF" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputRG" class="sr-only">RG</label>
            <input name="rg" [(ngModel)]="pessoa.rg" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="RG" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputTipo" class="sr-only">Tipo</label>
            <input name="tipo" [(ngModel)]="pessoa.tipo" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Tipo" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputMeta" class="sr-only">Meta</label>
            <input name="meta" [(ngModel)]="pessoa.meta" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Meta" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputLimite" class="sr-only">Limite de giro</label>
            <input name="limite" [(ngModel)]="pessoa.limite" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Limite de giro" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputUsuario" class="sr-only">Usuario</label>
            <input name="usuario" [(ngModel)]="pessoa.login" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Usuario" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputEmail" class="sr-only">Email</label>
            <input name="email" [(ngModel)]="pessoa.email" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Email" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputSenha" class="sr-only">Senha</label>
            <input name="senha" [(ngModel)]="senha.senha1" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Senha" required autofocus>     
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <label for="inputConfSenha" class="sr-only">Confirmar senha</label>
            <input name="confSenha" [(ngModel)]="senha.senha2" type="login" id="inputLogin" class="form-control inputPessoa" placeholder="Confirmar senha" required autofocus>     
        </div>
    </div>


    <div class="ui-g-12 ui-md-offset-4 ui-md-4 ui-md-offset-4 botaoCadastrar">
        <div class="ui-inputgroup">
            <button (click)="salvar()" type="submit" class="btn btn-lg btn-success btn-block btCadastrar">Cadastrar</button>
        </div>
    </div>
    


</div>
  <p-footer>
      Footer content here
  </p-footer>
</p-card>